.blue {
  background-color: #aadff0;
}

.green {
  background-color: #cfe8cb;
}

.flex-cocktail-container {
  display: flex;
  flex-direction: row;
  float: left;
  width: 23%;
  margin-top: 3%;
}

.cocktail-price {
  height: 21%;
  width: 30%;
  border-radius: 50%;
  background-color: #fece9b;
  position: relative;
  top: -40px;
  left: -40px;
  display: flex;
  justify-content: center;
}

.cocktail-price-text {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 500;
  font-size: xx-large;
  color: white;
  margin-top: 25%;
}

.cocktail-card-content {
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-bottom: 1%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  min-height: 380px;
}

.make-cocktail {
  cursor: pointer;
  float: right;
  background-color: white;
  padding: 1% 2% 1% 2%;
  box-shadow: 0px;
  margin-right: 5%;
  margin-top: 3%;
  font-family: 'Segoe UI';
  font-weight: 600;
  border: 5px solid white;
  border-radius: 10px;
}

.make-cocktail:hover {
  transition-duration: 0.4s;
  background-color: white;
  border: 5px solid #fece9b;
}

.delete-cocktail {
  cursor: pointer;
  float: left;
  background-color: white;
  padding: 1% 2% 1% 2%;
  box-shadow: 0px;
  margin-left: 5%;
  margin-top: 3%;
  font-family: 'Segoe UI';
  font-weight: 600;
  border: 5px solid white;
  border-radius: 10px;
}

.delete-cocktail:hover {
  transition-duration: 0.4s;
  background-color: white;
  border: 5px solid #fece9b;
}

.cocktail-card-instructions {
  margin-left: 4%;
  margin-top: 1%;
  font-family: 'Segoe UI';
  font-style: normal;
  font-size: medium;
}

.cocktail-card-ingredients {
  margin-left: 5%;
  padding-left: 2%;
  margin-bottom: 0%;
  width: 37%;
  display: flex;
  flex-direction: column;
}

.cocktail-ingredient {
  margin: 0%;
  font-family: 'Segoe UI';
  font-style: normal;
  font-size: medium;
}

.cocktail-img {
  width: 52%;
  height: fit-content;
  padding-left: 2%;
  padding-top: 2%;
}

.cocktail-card-title {
  padding-left: 5%;
  width: 70%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: 'Segoe UI';
  font-style: normal;
  font-size: larger;
  font-weight: 450;
  margin: 0%;
}

.flex-cocktail {
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 100%;
  padding-bottom: 2%;
  float: left;
}

.cocktails {
  display: flex;
  flex-direction: row;
}

.navigation {
  background-color: #aadff0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.navigation-item {
  cursor: pointer;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  border: 5px solid #aadff0;
}

.navigation-item:hover {
  transition-duration: 0.4s;
  background-color: white;
}

.nav-active {
  background-color: #cfe8cb;
  border: 5px solid #cfe8cb;
}

.nav-text {
  text-decoration: none;
  font-family: 'Segoe UI';
  font-weight: 500;
  font-size: medium;
  color: black;
}

.cocktail-catalogue {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cocktail-catalogue-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  padding: 5px;
  border: 5px solid white;
  border-radius: 20px;
  font-family: 'Segoe UI';
  font-size: medium;
  font-weight: 400;
  align-items: center;
}

.cocktail-catalogue-title {
  float: left;
  padding-left: 10px;
}

.cocktail-catalogue-img-container {
  width: 10%;
  padding: 5px;
}

.cocktail-catalogue-img {
  transition-duration: 0.5s;
  width: 100%;
  border: 3px solid #fece9b;
  border-radius: 2px;
}

.cocktail-catalogue-img:hover {
  transition-duration: 0.5s;
  transform: scale(2.5);
}


.cocktail-catalogue-ingredients {
  font-family: 'Segoe UI';
  font-style: italic;
  font-size: small;
  float: left;
}

.cocktail-catalogue-price-container {
  padding-right: 10px;
  width: 15%;
}

.cocktail-catalogue-submit {
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: white;
  border: 4px solid white;
  font-family: 'Segoe UI';
}

.cocktail-catalogue-submit:hover {
  transition-duration: 0.4s;
  border: 4px solid #fece9b;
  border-radius: 10px;
}

.cocktail-catalogue-price {
  width: 20%;
  border: 2px solid white;
  border-radius: 5px;
}

.stock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stock-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  padding: 5px;
  border: 5px solid white;
  border-radius: 20px;
  font-family: 'Segoe UI';
  font-size: medium;
  font-weight: 400;
}

.stock-title {
  float: left;
  padding-left: 10px;
}

.stock-amount-container {
  padding-right: 10px;
  width: 20%;
}

.stock-amount-submit {
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: white;
  border: 4px solid white;
  font-family: 'Segoe UI';
}

.stock-amount-submit:hover {
  transition-duration: 0.4s;
  border: 4px solid #fece9b;
  border-radius: 10px;
}

.stock-amount-number {
  width: 20%;
  border: 2px solid white;
  border-radius: 5px;
  margin-right: 10px;
}

.search-terms {
  margin-right: 10%;
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fece9b;
  width: 30%;
  border-radius: 15px;
  padding: 15px;
  font-family: 'Segoe UI'
}

.search-terms-title {
  margin: 0px;
  font-weight: 450;
  font-size: larger
}

.search-cocktails-by-name {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.search-label-name {
  margin-left: 10%;
}

.search-cocktails-by-ingredient {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.search-label-ingredient {
  margin-left: 10%;
}

.search-input-name {
  border: 0px solid white;
  width: 60%;
}

.search-input-ingredient {
  border: 0px solid white;
  width: 60%;
}

.search-input-name-submit {
  cursor: pointer;
  background-color: white;
  border: 2px solid white;
  font-family: 'Segoe UI';
  font-weight: 420;
  font-size: small;
}

.search-input-name-submit:hover {
  transition-duration: 0.4s;
  border: 2px solid #aadff0;
  border-radius: 10px;
}

.search-input-ingredient-submit {
  cursor: pointer;
  background-color: white;
  border: 2px solid white;
  font-family: 'Segoe UI';
  font-weight: 420;
  font-size: small;
}

.search-input-ingredient-submit:hover {
  transition-duration: 0.4s;
  border: 2px solid #aadff0;
  border-radius: 10px;
}

.empty-catalogue {
  margin-left: 40px;
  margin-top: 20%;
  background-color: #aadff0;
  border-radius: 20px;
}

.empty-catalogue-text {
  padding: 10px;
  margin: 0;
  font-family: 'Segoe UI';
  font-weight: 400;
  font-size: large;
}

.search-content {
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo-img {
  width: 30%;
  padding: 10px;
}